@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Email confirmed</h1>
<p>Your email was confirmed succesfully, please <a asp-area="Identity" asp-page="/Account/Login">Login</a> to acces site functionality</p>